/* CSS Document */
body{ width:1000px; height:800px; margin:0px; padding:0px;background:transparent;}

a{cursor:pointer;}
.news-left-container{ width:700px; float:left; margin-top:10px; height:400px; }
.news-right-container{ width:290px; float:left; margin-left:10px; height:200px; margin-top:10px;}
.news-right-sina{ width:290px; height:345px; padding-top:10px; background-color:#FFFFFF}
.sina{ width:270px; height:125px;  margin-left:10px; background-color:#CCCCCC}
.sina-bot{ width:290px; height:210px; margin-top:10px; border-top:dashed #999999 1px;}
.sina-bot-title1{ width:258px; height:35px; line-height:41px; text-align:left; vertical-align:middle; margin-left:10px;}
.sina-bot-title1 span{ font-family:"黑体"; font-size:21px; color:#4DB325;}
.sina-bot-title2{width:238px; height:23px; line-height:25px; text-align:left; vertical-align:middle; margin-left:30px;}
.sina-bot-title2 span{ font-family:"宋体"; font-size:18px; font-weight:bold; color:#000000;}
.sina-bot-title3{width:238px; height:23px; line-height:25px; text-align:left; vertical-align:middle; margin-left:30px;}
.sina-bot-title3 span{ font-family:"宋体"; font-size:13px; font-weight:bold; color:#666666}
.sina-bot-title4{ width:270px; height:20px; margin-top:15px; line-height:20px; text-align:right; vertical-align:middle}
.sina-bot-title4 a{ text-decoration:none; font-family:"宋体"; font-size:12px; color:#333333}
.sina-bot-title4 a:hover{ text-decoration:underline; color:#FF0000}





.news-right-dimension{ width:290px; height:399px; background-color:#FFFFFF; margin-top:10px; }
.news-right-bot{ width:290px; height:42px; background-color:#FFFFFF; margin-top:10px;} 




.news-navbar{ width:700px; height:32px; background-color:#FFFFFF;}
.news-navbar ul{ list-style:none; margin:0px; padding:0px; }
.news-navbar-li1{float:left; width:56px; height:30px; line-height:30px; text-align:center; vertical-align:middle; margin-top:1px; margin-left:5px; }
.news-navbar-li1 a{ text-decoration:none; font-family:"宋体"; font-size:14px; color:#000000}
.news-navbar-li2{float:left;background-color:#3EAE0E;width:56px; height:30px; line-height:30px; text-align:center; vertical-align:middle; margin-top:1px; margin-left:7px;}
.news-navbar-li2 a{ text-decoration:none; font-family:"宋体"; font-size:14px; color:#FFFFFF}

.news-maxbox-old{ width:700px; margin-top:10px;}
.news-maxbox-new{ width:700px; margin-top:50px; }
.news-minbox{ width:700px; overflow:hidden; height:150px; margin-top:10px;background-color:#FFFFFF}

.new-minbox-closebtn{cursor:pointer; overflow:hidden; width:20px; height:20px; line-height:20px; text-align:center; vertical-align:middle; margin-left:680px; margin-top:0px;  position:absolute; z-index:2}
.new-minbox-closebtn img{cursor:pointer; width:10px; height:10px; margin-top:5px; margin-right:5px;}


.news-minbox-left{ width:489px; height:150px; float:left;}

.news-title{ width:460px; height:20px; line-height:20px; text-align:left; vertical-align:middle; margin-top:10px; margin-left:10px;}
.news-title a{ font-size:20px; font-family:"宋体"; color:#333333}
.news-title a:hover{ color:#FF0000}
.news-content{ width:470px; height:74px; margin-left:10px; margin-top:10px;}
.news-content span{ font-family:"宋体"; font-size:13px; color:#666666}
.news-content a{ text-decoration:none; font-family:"宋体"; font-size:12px; color:#000000}
.news-content a:hover{ text-decoration:underline; color:#FF0000}

.news-minbox-bot{ width:470px; height:20px; margin-top:2px; margin-left:10px;}
.news-minbox-bot ul{ list-style:none; margin:0px; padding:0px;}
.news-minbox-bot ul li{ float:left; width:48px; height:20px; line-height:20px; text-align:center; vertical-align:middle}
.news-minbox-bot ul li span{font-family:"宋体"; font-size:12px; color:#999999}
.news-minbox-bot ul li a{ text-decoration:none; font-family:"宋体"; font-size:12px; color:#999999}
.news-minbox-bot ul li a:hover{ color:#FF0000}

.news-minbox-right{ width:211px; height:150px; float:left; padding-top:10px; overflow:hidden}
.news-minbox-right img{ width:160px; height:110px; margin-left:10px; }


.news-adding-img-block{ width:40px; height:40px;  top:45px; left:325px; display:block; position:absolute; z-index:2}
.news-adding-img-block img{ width:40px; height:40px;}

.news-adding-img-none{ width:40px; height:40px;  top:45px; left:325px; display:none; position:absolute; z-index:2}
.news-adding-img-none img{ width:40px; height:40px;}

.news-adding-num-block{width:40px; height:40px; line-height:40px; display:block; text-align:center; vertical-align:middle; top:45px; left:325px; position:absolute; z-index:3}
.news-adding-num-block span{ font-family:"宋体"; font-size:16px; color:#666666}

.news-adding-num-none{width:40px; height:40px; line-height:40px; display:none; text-align:center; vertical-align:middle; top:45px; left:325px; position:absolute; z-index:3}
.news-adding-num-none span{ font-family:"宋体"; font-size:16px; color:#666666}








.news-addbar-block{cursor:pointer;width:698px; height:26px; border:solid #F48C12 1px; display:block; margin-top:10px; line-height:26px; text-align:center; vertical-align:middle; background-color:#FFFEF5}
.news-addbar-block span{ font-size:12px; font-family:"宋体"; color:#F48C12}

.news-addbar-none{cursor:pointer;width:698px; height:26px;  border:solid #F48C12 1px; display:none; margin-top:10px; line-height:26px; text-align:center; vertical-align:middle; background-color:#FFFEF5}
.news-addbar-none span{ font-size:12px; font-family:"宋体"; color:#F48C12}
